<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Pet-Shop</display-name>
	<welcome-file-list>
		<welcome-file>index</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>prices</servlet-name>
		<servlet-class>pet.shop.Controllers.PricesController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>prices</servlet-name>
		<url-pattern>/details</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>myaccount</servlet-name>
		<servlet-class>pet.shop.Controllers.MyAccountController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>myaccount</servlet-name>
		<url-pattern>/myaccount</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>index</servlet-name>
		<servlet-class>pet.shop.Controllers.IndexController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>index</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>aboutus</servlet-name>
		<servlet-class>pet.shop.Controllers.AboutusController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>aboutus</servlet-name>
		<url-pattern>/aboutus</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>register</servlet-name>
		<servlet-class>pet.shop.Controllers.RegisterController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>cart</servlet-name>
		<servlet-class>pet.shop.Controllers.CartController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cart</servlet-name>
		<url-pattern>/cart</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>contact</servlet-name>
		<servlet-class>pet.shop.Controllers.ContactController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>contact</servlet-name>
		<url-pattern>/contact</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>specials</servlet-name>
		<servlet-class>pet.shop.Controllers.SpecialsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>specials</servlet-name>
		<url-pattern>/specials</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>category</servlet-name>
		<servlet-class>pet.shop.Controllers.CategoryController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>category</servlet-name>
		<url-pattern>/category</url-pattern>
	</servlet-mapping>
</web-app>